.Merks__blockquote {
  margin: 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1279px) {
  .Merks__blockquote {
    font-size: 23px;
    line-height: 29px;
  }
}
