.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}

@media screen and (max-width: 1023px) {
  .paragraph {
    font-size: 14px;
    line-height: 22px;
  }

}

@media screen and (max-width: 767px) {
  .paragraph {
    font-size: 12px;
    line-height: 18px;
  }

}
