.training__image {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 767px) {
  .training__image {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;

  }

}
