.about {
  padding-top: 10px;
  padding-left: 120px;
  display: grid;
  grid-template-columns: 27.3vw 42vw;
  grid-template-rows: 190px repeat(3, min-content);
  justify-content: space-between;
  position: relative;
}
